<header>
  <nav class="nav">
    <ul class="navlist">
      <li class="navlist-item navlist-item--main">
        <a href="/">
          <h1>Bibliothèque fantasque</h1>
        </a>
      </li>
      <li class="navlist-item">
        <a href="/books">Mes livres</a>
      </li>
      <li class="navlist-item">
        <a href="/books">Mes préférés</a>
      </li>
    </ul>
  </nav>
</header>