html, body {
  background-image: linear-gradient(to bottom left, #F9F2EA, #D6A1A1);
  background-color: $colored-light;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

main {
  margin: calc($base-space * 2);
}

h1 {
  @include primary-font(700);
  font-size: 1.5rem;
  color: $colored-light;
}

h2 {
  @include primary-font(200);
  font-size: 1.5rem;
}

.book-card {
  
  .book-card-cover {
    position: relative;
    width: 12rem;
    height: 18rem;
    //transform: skewY(-10deg);
    background: linear-gradient($secondary-color, $primary-color);
    border-radius: .3rem;
    border: 1px solid $colored-light;
    
    overflow: hidden;
    & > img {
      width: 113%;
      margin-left: -7%;
      margin-top: -20%;
    }
    .book-card-title {
      position: absolute;
      top: 15%;
      width: 100%;
      background-color: rgba($colored-light, .5);
      & > h3 {
        padding: calc( $base-space / 2 );
        @include primary-font(400);
        color: $colored-dark;
        text-align: center;
      }
    }
    .book-card-author {
      position: absolute;
      top: 5%;
      width: 100%;
      & > h4 {
        @include primary-font(700);
        color: $colored-light;
        text-shadow: 0 0 5px (rgba($colored-dark, .8));
        text-align: center;
      }
    }
    .book-card-edition {
      position: absolute;
      bottom: 10%;
      width: 100%;
      @include primary-font(700);
      color: lighten($primary-color, 10);
      text-shadow: 0 0 3px $colored-dark;
      text-align: center;
      &:before, &:after {
        position: absolute;
        bottom: 0;
        content: "ᚘ";
        font-weight: 200;
        display: inline-block;
      }
      &:before {
        transform: rotate(-90deg);
        left: 2%;
      }
      &:after {
        transform: rotate(90deg);
        right: 2%;
      }
      & > h5 {
        width: 75%;
        margin: 0 auto;
      }
    }
  }
}