// Book card style ( -> like a book cover )
.book-card {
  .book-card-cover {
    position: relative;
    width: 12rem;
    height: 18rem;
    background: linear-gradient($secondary-color, $primary-color);
    border-radius: .3rem;
    border: 1px solid $colored-light;
    overflow: hidden;

    &>img {
      width: 113%;
      margin-left: -7%;
      margin-top: -20%;
    }

    .fav-link {
      position: absolute;
      z-index: 2;
      top: 5px;
      right: -30px;
      opacity: 0;
      padding: 4px;
      border-radius: calc(25px + 4px * 2);
      border: 1px solid $colored-light;
      background-color: rgba($colored-dark, .6);
      transition: all .3s $ease-transition;

      &>svg {
        fill: $colored-light;
        width: 22px;
        height: 22px;
      }
    }

    .book-card-title {
      position: absolute;
      top: 15%;
      width: 100%;
      background-color: rgba($colored-light, .5);

      &>h3 {
        padding: calc($base-space / 2);
        @include primary-font(400);
        color: $colored-dark;
        text-align: center;
      }
    }

    .book-card-author {
      position: absolute;
      top: 5%;
      width: 100%;

      &>h4 {
        @include primary-font(700);
        color: $colored-light;
        text-shadow: 0 0 5px (rgba($colored-dark, .8));
        text-align: center;
      }
    }

    .book-card-edition {
      position: absolute;
      bottom: 10%;
      width: 100%;
      @include primary-font(700);
      color: lighten($primary-color, 10);
      text-shadow: 0 0 3px $colored-dark;
      text-align: center;

      &:before,
      &:after {
        position: absolute;
        bottom: 0;
        content: "ᚘ";
        font-weight: 200;
        display: inline-block;
      }

      &:before {
        transform: rotate(-90deg);
        left: 2%;
      }

      &:after {
        transform: rotate(90deg);
        right: 2%;
      }

      &>h5 {
        width: 75%;
        margin: 0 auto;
      }
    }
  }

  // TODO prevent link on button and create a front js to get url from button
  &:hover {
    .book-card-cover {
      .fav-link {
        right: 5px;
        opacity: 1;
      }
    }
  }
}

// Forms
.form-file {
  padding: $base-space;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: $base-space $base-space;
  background-image: linear-gradient(to top right, $colored-dark, $secondary-color);
  border-radius: .3rem;
  border: 1px solid $colored-light;
  .input-group {
    .input-group-text {
      background-image: linear-gradient(to bottom left, $background-light, $background-medium);
      border: 1px solid $colored-light;
      & > svg {
        color: darken($secondary-color, 35);
      }
    }
    .form-control {
      border: 1px solid $colored-light;
      background-color: $background-light;
      @include primary-font(400);
    }
  }
  .btn-submit {
    position: relative;
    width: 100%;
    border-radius: .3rem;
    padding: calc( $base-space * .5 );
    background: linear-gradient(to right, $primary-color, $secondary-color);
    @include primary-font(700);
    color: $colored-light;
    border: 1px solid $colored-light;
    z-index: 1;
    &:before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: .3rem;
      background: linear-gradient(to right, $secondary-color, $primary-color);
      z-index: -1;
      opacity: 0;
      transition: opacity .3s $ease-transition;
    }
    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
}

// Sub-nav
.sub-nav {
  padding: calc( $base-space * .5);
  border-radius: .3rem;
  border: 1px solid $colored-light;
  background-image: linear-gradient(to top right, $colored-dark, $secondary-color);;
  .nav-pills {
    .nav-link {
      @include primary-font(500);
      color: lighten($background-medium, 20);
      &.active {
        background-color: lighten($background-medium, 20);
        color: darken($secondary-color, 35);
      }
    }
  }
  .dropdown-menu {
    background-color: darken($secondary-color, 20);
    .dropdown-item {
      @include primary-font(400);
      color: $colored-light;
      &:active {
        background-color: $primary-color;
      }
    }
  }
}

// Category card
