header {
  background: linear-gradient(to right, $primary-color, $secondary-color);
  padding: $base-space calc( $base-space *2 );
  margin-bottom: $base-space;
  box-shadow: 0 0 15px lighten($colored-dark, 20);

  .nav {
    .navlist {
      width: 100%;
      display: flex;
      align-items: center;
      .navlist-item {
        a {
          @include primary-font(400);
          color: $colored-light;
          &:after {
            display: none;
          }
        }
        &--main {
          flex-grow: 1;
        }
        &:not(:last-child) {
          margin-right: $base-space;
        }
      }
      
    }
  }
}