header {
  background: linear-gradient(to right, $primary-color, $secondary-color);
  padding: $base-space calc( $base-space *2 );
  margin-bottom: $base-space;
  box-shadow: 0 0 15px lighten($colored-dark, 20);

  .nav {
    .navlist {
      width: 100%;
      display: flex;
      align-items: center;
      .navlist-item {
        a {
          @include primary-font(400);
          color: $colored-light;
          & > .user-account-name {
            margin-left: calc( $base-space * .5);
          }
          &:after {
            display: none;
          }
        }
        .dropdown-menu-dark {
          background-color: darken($secondary-color, 20);
          .dropdown-item.active, .dropdown-item:active {
            background-color: $primary-color;
          }
        }
        &--main {
          flex-grow: 1;
        }
        &:not(:last-child) {
          margin-right: $base-space;
        }
      }
      
    }
  }
}