// variables

$primary-color: #FC7600;
$secondary-color: #8A00FC;
$light: #fff;
$dark: #000;
$colored-light: #FFFFE1;
$colored-dark: #000F46;

$background-light: #F9F2EA;
$background-medium: #ca6fc3;

$error-color: #FC0C00;
$info-color: #0C00FC;

$base-space: 1rem;

$primary-font : 'Relaway';

$ease-transition: cubic-bezier(0.17, 0.84, 0.44, 1);